/*
Deklaration aller Farben
*/
$color-red: #FF0000;
$color-brown: #52331B;
$color-highlight: #FFBF00;
$color-black: #000000;
$color-white: #ffffff;
$color-formoutline: #e7e7e7;
$color-iconbuttons: #f3f3f3;

/*
Schriftenimport
*/
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Open+Sans');

/*
Variablen für die Schriften
*/
$font-highlight: 'Oleo Script Swash Caps', cursive;
$font-standard: "Helvetica Neue", Arial, Helvetica, sans-serif;

/*
Variablen für die Schriftgrössen
*/
$fontsize-xxs: 0.8em;
$fontsize-xs: 1em;
$fontsize-s: 1.2em;
$fontsize-m: 1.5em;
$fontsize-l: 1.75em;
$fontsize-xl: 2.25em;
$fontsize-xxl: 4.55em;

/*
Variabeln für die Breakpoints
*/
$breakpoint-s: 1000px;
$breakpoint-m: 1000px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1600px;

/*
Mixin für Formular Felder
*/
@mixin form-field {
    border: 1px solid $color-formoutline;
    box-shadow: 0px 1px 8px 0 rgba(195, 195, 195, 0.25);
}

/*
Mixin für Buttons
*/
@mixin button {
    background-color: $color-red;
    color: $color-white;
    border: 0;
    border-radius: 4px;
}

/*
clearfix Klasse
*/
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
Boxsizing für alle Elemente
*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-black;
    font-family: $font-standard;
    padding: 0;
    margin: 0;
}

a:hover {
    color: $color-red;
}

h1 {
    font-family: $font-highlight;
    font-size: $fontsize-xl;
    margin: 0;
}

h2 {
    font-family: $font-highlight;
    color: $color-brown;
    font-size: $fontsize-xs;
    padding-top: 2em;
}

ul, li {
    list-style: none;
    padding: 0;
    display: inline;
}

/*
Navigationsbar oben
*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    border: 1px solid $color-formoutline;
    padding: {
        left: 15px;
        right: 15px;
    }

    /*
    Logo Styling
    */
    img {
        width: 120px;
        height: 60px;
        position: relative;
        top: 17.5px;
        z-index: 10;
    }

    /*
    Button zum Erfassen eines neuen Eintrages
    */
    #button-erfassen {
        @include button();
        height: 38px;
        width: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;

        &.form-open {
            
        }
    }
    /*
    Navigation Desktop
    */
    nav.navdesktop {
        display: none;
        align-self: center;  
        margin-right: auto;
        ul li a {
            font-size: $fontsize-xs;
            text-transform: uppercase;
            align-self: center;
            font-weight: bold;
            margin: 1em;
        } 
        ul li:nth-child(1) a {
            margin-left: 4em;
        }
    }

    /*
    Sprachauswahl
    */
    .language  {
        display: none;
        align-self: center;
        font-weight: bold;
        line-height: 60px;
    } 

    .navbar-left {
        display: flex;
    }
}

/*
Titel Menu Mobile
*/
.title-menu {
    font-family: $font-highlight;
    text-decoration: underline;
    font-size: $fontsize-xl;
    padding: 50px 0 15px 0;
    margin: 0;
}

/*
Styling für Hamburger
*/
#hamburger {
    align-self: center;
    margin-top: 16.5px;
    margin-bottom: 16.5px;
    margin-left: 20px;
    div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: transform .2s ease-out;
    }

    &.hamburger-open {
        > div:first-child {
             transform: translate(0, 11px) rotate(45deg) ;
        }
        > div:nth-child(2) {
            opacity: 0;
        }
        > div:last-child {
             transform: translate(0, -11px) rotate(-45deg) ;
        }
    }
}

/*
Overlay Menu
*/
#navoverlay {
    height: 100%;
    width: 0;
    position: fixed;
    overflow: hidden;
    background-color: $color-white;
    text-align: center;
    top: 60px;
    left: 0;
    transition: width opacity .2s ease-out;
    z-index: 5;
    a {
         font-size: $fontsize-m;
        font-weight: bold;
        line-height: 1.67;
    }
    a:hover {
        color: $color-red;
    }
    ul:nth-of-type(1) li{
        display: block;
    }
    &.hamburger-open {
        width: 100%;
        opacity: 100%;
    }
    &.hamburger-close {
        width: 0%;
        opacity: 0%;
    }
}

/*
Styling für den Banner auf der Homeseite
*/
.banner {
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        max-height: 600px;
        object-fit: cover;
    }
}

/*
Styling für den Banner auf den Unterseiten
*/
.banner-subsite {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        max-height: 600px;
        object-fit: cover;
    }
    /*
    Container für Titel und Untertitel
    */
    div {
        position: absolute;
        color:white;
        bottom: 0;
        left: 0;
        padding: 15px;
        width: 100%;
        background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0));
        background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0));
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0));
        background: linear-gradient(to top, rgba(0, 0, 0, 0.59) 60%, rgba(0, 0, 0, 0));

        /*
        Untertitel
        */
        p {
            margin: 0;
        }
    }
}

/*
Searchbar Cointainer beinhaltet die Suche für die Homeseite
*/
.searchbar-container {
    height: 72px;
    border-bottom: 1px solid $color-formoutline;
    padding: 15px;
}

/*
Searchbar Cointainer beinhaltet die Suche für die Subseite
*/
.searchbar-container-subsite {
    @extend .searchbar-container;
    padding-top: 35px;
    height: 92px;
}

/*
Suchbar
*/
.searchbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @include form-field();
    input {
        width: 75%;
        height: 100%;
        border:none;
        padding: 15px;
    }
    img {
        width: 34px;
        height: 34px;
        color: $color-highlight;
        padding: 6px;
        border-radius: 4px;
        margin: 3px 0 3px 0;
    }
    img:first-of-type {
         background-color: $color-highlight;
    }
}

/*
Der Suchbutton sowie der GPS Button
*/
.button-searchbar {
    border: none;
    border-radius: 4px;
    padding: 6px;
    margin: 3px 0 3px 0;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 34px;
    height: 34px;
}

.button-searchbar-gps {
    @extend .button-searchbar;
    background-image: url(/images/mylocation.svg);
    background-color: $color-highlight;
}
.button-searchbar-submit {
    @extend .button-searchbar;
    background-image: url(/images/search.svg);
    background-color: $color-white;
}

main {
    display: inline-block;
    width: 100%;
}
/*
Main Sektion für Subseiten
*/
.main-subsite {
    @extend main;
    padding-top: 30px;

    a {
        @extend .section-link;
        float: left !important;
        padding: 15px;
        margin: 0 !important;
    }
}

section {
    padding: 0 15px 0 15px;
    p {
        line-height: 1.75em;
    }
}

/*
Links in Section zu mehr Inhalt
*/
.section-link {
    font-weight: bold;
    text-decoration: underline;
    bottom: 10px;
    right: 10px;
    float: right; 
    margin-top: 21px;
}

/*
Overlay Formular zum Erfassen von neuen Einträgen
Erscheint erst bei Klick auf Erfassen-Button
*/
#formoverlay {
    width: 0;
    height: calc(100vh - 107px);
    background-color: $color-white;
    position: fixed;
    overflow: hidden;
    text-align: center;

    &.form-open {
        width: 100%;
        opacity: 1;
    }
    &.form-close {
        width: 0%;
        opacity: 0;
    }
}

/*
Formular für neue Einträge ist in Formoverlay
*/
.form-new-entry {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    input {
        @include form-field();
        width: auto;
        margin: 15px;
        padding: 15px;
    }
    [type="text"] {
        height: 39px;
        width: auto;
    }

    textarea {
        height: 200px;
        width: auto;
        @include form-field;
        padding: 15px;
        margin: 15px;
    }
}
/*
Der Submint Button für das Formular neue Einträge
*/
.button-submit-form {
    @include button();
    height: 39px;
    margin: 15px;
}
/*
Google Maps Einbindung
*/
iframe {
    width: 100%;
    height: calc(100vh - 199px);
}

/*
Section für Wörterbuch
*/
.section-translation {
    padding: 0;
}
/*
Titel für die Sektion Wörterbuch
*/
.section-translation-title-container {
    padding: 1em;
    select {
        border: 0;
        color: $color-highlight;
        font-family: $font-highlight;
        font-size: $fontsize-m;
    }
    span {
        font-family: $font-standard;
        font-size: $fontsize-s;
        font-weight: bold; 
    }
}
/*
Definitionsliste für das Wörterbuch (Inhalt)
*/
.section-translation-definition-list {
    background-color: $color-brown;
    color: $color-white;
    width: 100%;
    padding: 1em;
    dt {
        float: left;
        clear: left;
        width: 10.5em;
        text-align: left;
  }
  dt::after {
      content: ":";
  }
  dd {
      margin: 0 0 0 110px;
      padding: 0 0 0.5em 0;
      font-weight: bold;
  }
}

/*
Titel für Subseiten-Sektionen
*/
.title-subsite {
        color: $color-white;
        font-size: $fontsize-m;
        padding: 0;
        margin-top: 0;
}

/*
Sektion für Tipps-Teaser
*/
.section-tipps {
    margin-top: 50px;
    padding: 0;

    .section-tipp-title {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 15px;
        }
    }
    p {
        padding: 0 15px;
    }
}
/*
Sektion für Rezepte-Teaser
*/
.section-recipe {
    margin: 15px;
    border: solid 1px $color-formoutline;
    padding: 0;
    display: inline-block;
    img {
        width: 50%;
        height: auto;
        float: left;
    }
}
/*
Text für Rezepte-Teaser
*/
.section-receipe-text {
        width: 50%;
        display:inline-block;
        padding-left: 15px;
}

/*
Icon für Zeit bei Rezept-Teaser
*/
.section-recipe-text-time {
    display: inline-block;
    &::before {
        content: "";
        background-image: url('/images/time.svg');
        background-size: contain;
        background-position: left center;
        display: inline-block;
        width: 1em;
        height: 1em;
    }
}

/*
Icon für Informationen bei Rezept-Teaser
*/
.section-recipe-text-info {
    display: inline-block;
    &::before {
        content: "";
        background-image: url('/images/info.svg');
        background-size: contain;
        background-position: center;
        display: inline-block;
        width: 1em;
        height: 1em;
    }
}

/*
Bild für Rezept-Teaser
*/
.wrapper-teaser-pictures {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 52px;
    padding-bottom: 52px;
    div {
        margin: 3px;
    }
    div:nth-of-type(1) {
        width: 63%;        
        height: auto;
    }
    div:nth-of-type(2) {
        height: auto;
        width: 33%;
        align-self: flex-end;
    }
    div:nth-of-type(3) {
        height: auto;
        width: 33%;
    }
    div:nth-of-type(4) {
        height: auto;
        width: 63%;
    }
    img {
        width: 100%;
        height: auto;
    }
}

/*
Icon Teaser für Homeseite
*/
.wrapper-icon-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.icon-link {
    background-color: $color-iconbuttons;
    margin: 0 4px 0 4px;
    width: 110px;
    height: 150px;
    display: flex;
    div {
        margin: auto;
    }
    img {
        height: 60px;
        width: 60px;
        display: block;
        margin: auto;
    }
    p {
        text-align: center;
        margin: 10px 0 0 0;
        font-size: $fontsize-xxs;
        font-weight: bold;
    }
}

/*
Footer Styling
*/
footer {
    height: 47px;
    background-color: $color-brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    div:first-of-type a {
        font-family: $font-highlight;
        font-size: $fontsize-xs;
    }
    div:last-of-type a {
        font-family: $font-standard;
        font-size: $fontsize-xxs;
        margin: 4px;
    }

    div {
        padding: 15px;
        height: 100%;
    }

    a {
        color: $color-white;
    }

}

@media screen and (min-width: $breakpoint-s) {
    #hamburger {
        display: none;
    }
    .navbar {
        height: 80px;
        //Logo
        img {
            width: 200px;
            height: 80px;
            position: relative;
            top: 27px;
            z-index: 10;
        }
        nav.navdesktop {
            display: inline;
        }
        .language {
            display: inline;
        }     
    }
       
    h2 {
        font-size: $fontsize-xxl;
        padding: 0;
        margin: 0;
    }
    /*
    Anpassung der Section Responsiv
    */
    section {
        margin: 0px;
        padding: 0px;
        p {
            padding-right: 0 !important;
            font-size: $fontsize-m;
        }
    }
    .section-wrapper {
        padding: 120px 200px 120px 200px;
    }
    .wrapper-icon-link {
        width: 100%;
    }
    .icon-link {
        width: 100%;
        height: 100%;
        padding: 11px 11px 0px 11px;
        img {
            height: 120px;
            width: 120px;
        }
        p {
            text-align: center;
            margin: 10px 0 0 0;
            padding: 0;
            font-size: $fontsize-xxs;
            font-weight: bold;
        }
    }

    .searchbar {
        div {
            display: flex;
            align-items: center;
        }
    }
    .button-searchbar {
        width: 40px;
        height: 40px;
        background-size: 24px 24px;
    }
    #button-erfassen {
        position: relative;
        top: 96px;
        right: -50%;
    }
    /*
    Google Maps wird an die neue Grösse von Header und Footer angepasst. 
    */
    iframe {
    height: calc(100vh - 267.5px);
    }
    /*
    Wörterbuch Anpassung für Responsiv
    */
    .section-translation-definition-list {
        padding: 1.5em 1.5em 4em 1.5em;
        dt {
            font-size: $fontsize-s;
        }
        dd{
            font-size: $fontsize-s;
        }
    }

    /*
    Anpassung Titel Wörterbuch und Selector
    */
    .section-translation-title-container {
        font-size: $fontsize-l;
        padding-left: 0;
    }

    /*
    Titel Subseiten Anpassung Responsiv
    */
    .title-subsite {
        font-size: $fontsize-xl;
    }


}


@media screen and (min-width: $breakpoint-m) {
    .searchbar-container {
        padding: 15px 210px 15px 210px;
    }
    h2 {
        font-size: $fontsize-xxl;
        padding: 0;
        margin: 0;
        margin-top: 115px;
    }

    section p {
        padding-right: 200px;
    }
    .icon-link {
    
        img {
            height: 170px;
            width: 170px;
        }
        p {
            text-align: center;
            margin: 10px 0 0 0;
            padding: 0;
            font-size: $fontsize-l;
            font-weight: 800;
        }
    }
    footer {
        padding: 37px 210px 37px 210px;
        height: 95.5px;
        div {
            padding: 0;
        } 
        div:first-of-type a {
            line-height: 0.8;
            font-size:2.25em;
        }
        div:last-of-type a {
           font-size: $fontsize-xs;
           line-height: 1.5;
        }
    }
}

@media screen and (min-width: $breakpoint-l) {
    .section-wrapper {
        padding: 0 210px 210px 210px;
    }
    section a {
        font-size: $fontsize-l;
    }
    section p {
        margin-top: 3.4em;
        font-size: 1.25em;
        padding-right: 360px;
    }
    .icon-link {
        width: 380px;
        height: 380px;
        margin: 0;
    }
    .wrapper-icon-link {
        div:nth-of-type(2) {
            margin: 0 20px 0 20px;
        }
    }
}
@media screen and (min-width: $breakpoint-xl) {
    
}

